<h1><%= @billboard.title %></h1>
<hr />

<%= link_to 'Edit', edit_billboard_path(@billboard.id) %>
<%= link_to 'Delete', billboard_path(@billboard.id), method: :delete %>



<p>Find me in app/views/billboards/show.html.erb</p>
